

#form_creer_nouveau_client{
    background-color: white;
    width: calc(35vw + 35vh);
    padding: calc(2vw + 2vh);
    box-shadow: 0 0 2em darkgrey;
}

.marges{
    margin: calc(.25vw + .25vh) 0;
}
.fullwidth{
    width: 100%;
}

.pr{
    margin: 0;
    padding-right: calc(.25vw + .25vh);
}

.long_input{
    width: calc(10vw + 10vh);
}

#valid_creation_client{
    margin-top: calc(1vw + 1vh);
}