#wrapper_encours_chantiers{
    width: auto;
    padding: calc(2vw + 2vh);
    box-shadow: 0 0 2em darkgrey;
    min-height: calc(15vw + 15vh);
    height: auto;
    background-color: #FFF;
}


#affichage_chantiers{
    background-color: white;
    width: calc(35vw + 35vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    padding-left: calc(4vw + 4vh);
    border-left:  2px solid #6666;
}


#recherche_chantiers{
    background-color: white;
    width: calc(15vw + 15vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    align-self: baseline;
    margin-right: calc(2vw + 2vh);
}

#liste_chantier{
    list-style: none;
}



input[type="checkbox"]{
    margin-right: calc(.15vw + .15vh);
}

input::placeholder {
    text-align: center;
}

#visualisation_chantier a, #visualisation_chantier a:hover, #visualisation_chantier a:visited {
    text-decoration: none;
    color: white;
}

#visualisation_chantier.btn_vert, #modification_chantier.btn_vert, #archivage_chantier.btn_vert{
    margin-top: 0px;
    margin-right: calc(0.9vw + 0.9vh);
}

#espace_boutons{
    width: auto;
}

.carte_chantier{
    height: calc(2vw + 2vh);
}