#bandeau_vert {
    height: 80px;

}

.container-fluid {
    background-color: #EEE;
    min-height: 100vh;
}

.container-fluid>*{
    color : #222222;
}

h2 {
    color: #222222;
    text-align: center;
    margin: calc(2vw + 2vh) auto;
}

a{
    color: #0C8148;
}

.btn_vert {
    background-color: #0C8148;
    color: #FFF;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    margin-top: calc(1vw + 1vh);
    border : none;
    /*box-shadow: 3px 3px 2px 1px rgba(128, 128, 128, .8);*/
    box-shadow: 2px 2px 5px #2222227F;
    text-decoration: none;
}
.btn_vert:hover, .btn_vert:focus {
    text-decoration: none;
    color: white;
    background-color: #10a45c;
}

.btn_vert a:visited, .btn_vert a:hover {
    text-decoration: none;
    color: white;
}

/* ICONES FONTAWESOME*/

.fa-user-tag,.fa-address-book{
    margin-right: calc(0.25vw + 0.25vh);
}

.fa-calendar-alt{
    font-size: calc(8px + 0.8vw + 0.8vh);
}

form input{
    border: none;
    background-color: #EEE;
    border-radius: 5px;
    padding-left: 15px;
}