#wrapper_encours_projets{
    width: auto;
    padding: calc(2vw + 2vh);
    box-shadow: 0 0 2em darkgrey;
    min-height: calc(15vw + 15vh);
    height: auto;
    background-color: #FFF;
}


#affichage_projets{
    background-color: white;
    width: calc(35vw + 35vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    padding-left: calc(4vw + 4vh);
    border-left:  2px solid #6666;
}


#recherche_projets{
    background-color: white;
    width: calc(15vw + 15vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    align-self: baseline;
    margin-right: calc(2vw + 2vh);
}

#liste_projet{
    list-style: none;
}



input[type="checkbox"]{
    margin-right: calc(.15vw + .15vh);
}

input::placeholder {
    text-align: center;
}

#visualisation_projet a, #visualisation_projet a:hover, #visualisation_projet a:visited {
    text-decoration: none;
    color: white;
}

#modification_projet a, #modification_projet a:hover, #modification_projet a:visited {
    text-decoration: none;
    color: white;
}

#archivage_projet a, #archivage_projet a:hover, #archivage_projet a:visited {
    text-decoration: none;
    color: white;
}

#visualisation_projet:active, #modification_projet:active, #archivage_projet:active {
    background-color: #0C5A43;
}


#visualisation_projet.btn_vert, #modification_projet.btn_vert, #archivage_projet.btn_vert{
    margin-top: 0px;
    margin-right: calc(0.9vw + 0.9vh);
    box-shadow: inherit;
    padding: calc(0.65vw + 0.65vh);
}

#espace_boutons{
    width: auto;
}

.carte_projet{
    height: calc(2vw + 2vh);
}