#wrapper_visualisation_projet{
    width: auto;
    padding: calc(2vw + 2vh);
    box-shadow: 0 0 2em darkgrey;
    min-height: calc(15vw + 15vh);
    height: auto;
    background-color: #FFF;
}

#div_chantiers{
    background-color: white;
    width: calc(35vw + 35vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    padding-left: calc(4vw + 4vh);
    border-left:  2px solid #6666;
}

#recap_infos_projet{
    background-color: white;
    width: calc(15vw + 15vh);
    min-height: calc(15vw + 15vh);
    height: 100%;
    align-self: baseline;
    margin-right: calc(2vw + 2vh);
}

#liste_chantiers{
    list-style: none;
}

.fa-trash-alt{
    font-size: calc(8px + 0.8vw + 0.8vh);
    color: #0C8148;
    line-height: inherit !important;
    margin-right: calc(0.5vw + 0.5vh);
}

.fa-plus{
    color: white;
    margin-left: calc(1vw + 1vh);
}

.btn_vert{
    margin: unset;
    margin-right: calc(2vw + 2vh);
}

#ajouter_un_chantier{
    margin-top: calc(2vw + 2vh);
}

p{
    margin: unset;

}