{% extends 'base.html.twig' %}

{% block title %}Hello APIgestionDevisController!{% endblock %}

{% block body %}
    <form action="{{ path('API-getallchantiers') }}">
        <label for="validrequest">test:</label><br>
        <input type="text" id="validrequest" name="validrequest"><br>
        <input type="submit" value="Connexion" formmethod="post">
    </form>
{% endblock %}
