{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/creerNouveauChantier.css') }}" media="all"/>
{% endblock %}


{% block contenu %}
    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">


        <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa">
            <h5>Références du projet</h5>

        </div>

        <div id="div_creation_chantier" class="flex flex4 flex_col">
            PAGE
        </div>

    </div>
{% endblock %}