{% extends 'gestion_devis/template.html.twig' %}


{% block contenu %}


    <h1> Tous les chantiers : dupliquer l'affichage de la page chantier username avec une requête SQL différente pour l'affichage de tous les chantiers (sans le tri par user) </h1>

{% endblock %}