{% extends 'gestion_devis/template.html.twig' %}

{% block contenu %}

    <div class="row mt-2">
        <div class="col mt-auto mb-auto font-weight-bold">Bonjour, Barbara!</div>
        <div class="col text-right">
            <button type="button" class="btn btn-success mr-2"><i class="fas fa-project-diagram"></i> Créer un projet</button>
            <button type="button" class="btn btn-success mr-2"><i class="fas fa-id-card"></i> Créer un client</button>
            <button type="button" class="btn btn-success mr-2"><i class="far fa-sticky-note"></i> Notes rapides</button>
        </div>
    </div>

    <div class="row mt-2 ml-2">
        <div class="col-6 ">
            <h5>Résultats sur 30 jours</h5>
            <img class="img-float w-100" src="../Content/temp-images/sales.jpg" alt="">
        </div>

        <div class="col-6">
            <h5>Taches</h5>
            {% for tache in tachesRapides %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" value="{{ tache }}">
            </div>
            {% endfor %}
            <div class="text-right">
                <button type="button" class="btn btn-light mr-2"><i class="fas fa-plus-circle"></i> Ajouter</button>
                <button type="button" class="btn btn-light btn-outline-success mr-2"><i class="fas fa-check"></i> Valider</button>
            </div>


        </div>
    </div>

    <div class="row mt-4 ml-2">
        <h5 class="col-12">Résultats à l'année</h5>
        <img class="col img-float w-100" src="../Content/temp-images/sales2.png" alt="">
    </div>
{% endblock %}
